<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Modifier Compte</title>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="../../assets/vendor/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../../assets/vendor/font-awesome/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="../../assets/vendor/linearicons/style.css"/>
	<link rel="stylesheet" href="../../assets/vendor/chartist/css/chartist-custom.css"/>
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="../../assets/css/main.css"/>
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="../../assets/css/demo.css"/>
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet"/>
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/apple-icon.png"/>
	<link rel="icon" type="image/png" sizes="96x96" href="../../assets/img/favicon.png"/>
	<style>
#instoverlay,#rhoverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
</style>
</head>
<body>
    
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="index.html"><img src="../../assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"/></a>
			</div>
			  
			  <div id="instoverlay" >
			   <div class="row " style="padding-top:2%">
                 <div class="col-md-6 col-md-offset-3">
							<!-- TASKS -->
							<div class="panel">
								
							</div>
							<!-- END TASKS -->
			 </div>
			</div>
	         </div>
	           <div id="rhoverlay" >
			   <div class="row " style="padding-top:10%;">
                 <div class="col-md-6 col-md-offset-3" >
							<!-- TASKS -->
							<div class="panel">
								
							</div>
							<!-- END TASKS -->
						</div>
						</div>
	         </div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>

				<div class="navbar-btn navbar-btn-right">
					<a  sec:authorize="!isAuthenticated()"th:href="${'/login'}" class="btn btn-success update-pro"  title="Upgrade to Pro" ><i class="fa fa-rocket"></i> <span>Sign In</span></a>
					<a sec:authorize="isAuthenticated()" th:href="${'/logout'}" class="btn btn-success update-pro"  title="Upgrade to Pro" ><i class="fa fa-rocket"></i> <span>Logout</span></a>
				</div>
				<div  style="margin-right:15%;">
					<ul class="nav navbar-nav navbar-right main_menu" id="menu_navigation">
						<li ><a href="/">Home</a></li>
						<li ><a href="/annuaire" >Annuaire</a></li>
						<li><a href="/Alimentation et Agriculture/all">Dictionnaire RG</a></li>
						<li><a href="">Demande d'accès</a></li>
						<li class="actif"><a href="gestion">Comptes</a></li>
						<li><a href="">Contact</a></li>

					</ul>
				</div>
				
			</div>
		</nav>
		
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a><span>Tableau de bord</span></a></li>
					</ul>
					<ul class="nav">
						<li><a><span>Création</span></a></li>
						<ul class="nav">
							<li><a class="active" href="/comptes"><span>Comptes</span></a></li>
							<li><a href="/roles"><span>Rôles</span></a></li>
						</ul>
					</ul>
				</nav>
			</div>
		</div>
	
	
		<div class="main" >
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
					 
						<div class="panel-heading">
							<h3 class="panel-title">Modifier Compte</h3>
							<p style="width:80%;" class="panel-subtitle" th:text="${user.user_name}"></p>
						
					</div>
					
					<!-- END OVERVIEW -->
					<div class="row" style="padding-left:100px;padding-top:30px;">
						<div class="col-md-10">
							<!-- RECENT PURCHASES -->
							<div >
	  <form action="#" th:action="@{/comptes/update/{id}(id=${user.id})}" th:object="${user}" method="post" role= "form">
			
	      
	        <div class="form-group row">
			    <label for="username" class="col-sm-2 col-form-label">Username</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="username" placeholder="username" th:field="*{user_name}" required>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="password" class="col-sm-2 col-form-label">Mot de passe</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="password" placeholder="Mot de passe" th:field="*{password}" required>
			    </div>
			  </div>
			  
			  <div class="form-group row">
			    <label for="nom" class="col-sm-2 col-form-label">Nom</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="nom" placeholder="Nom" th:field="*{nom}" required>
			    </div>
			  </div>
			  
			  <div class="form-group row">
			    <label for="prenom" class="col-sm-2 col-form-label">Prénom</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="prenom" placeholder="Prénom" th:field="*{prenom}" required>
			    </div>
			  </div>
			  
			  <div class="form-group row">
			    <label for="profession" class="col-sm-2 col-form-label">Profession</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="profession" placeholder="Profession" th:field="*{profession}" required>
			    </div>
			  </div>
			  
			  
 			  <div class="form-group row">
			    <label for="email" class="col-sm-2 col-form-label">Email</label>
			    <div class="col-sm-10">
			      <input type="email" class="form-control" id="email" placeholder="Email" th:field="*{email}" required>
			    </div>
			  </div>
			  
  			  <div class="form-group row">
			    <label for="phone" class="col-sm-2 col-form-label">Tél.</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="phone" placeholder="Tél." th:field="*{telephone}" required>
			    </div>
			  </div>
			  
			 			  
				<div class="row" style="padding-left:100px;padding-top:30px;">
						<div class="col-md-10">
							<!-- RECENT PURCHASES -->
							<div >
								<div class="table-container">
									<table  class="table table-hover">
										<thead>
											<tr>
												<th>Nom</th>
												<th>Désignation</th>
												<th>Lot</th>
												<th>Permissions</th>
												<th>Niveau de sécurité</th>
												<th>Affecter</th>
											</tr>
										</thead>
										<tbody id="table_role" th:each="role,stat : ${roles}">
											<tr >
												<td th:text="${role.nom}"></td>
												<td th:text="${role.Description}"></td>
												<td >
													
												</td>
												<td>
													<span th:each="role_permission: ${role.getPermissions()}" th:text="'# ' + ${role_permission.nom} + ' '"></span>
												</td>												
												<td th:text="${role.niv_sec}"></td>
												<td>
				
			    
			      <div class="col-sm-10">
			         <div class="form-check">
			          <input class="form-check-input" type="checkbox" th:field="*{roles[__${stat.index}__]}"th:name="${role.nom}" th:value="${role.id}" checked>
			          <label class="form-check-label" >OUI</label>
			        </div>
			       
			      </div>
			    
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								
							</div>
							<!-- END RECENT PURCHASES -->
						</div>
						
					</div>
	      
	         <div class="form-group" style="padding-top:5%;">
                              <div class="col-md-6 col-md-offset-8">
                                <a  type="button" class="btn btn-secondary"  style="margin-right:5%" href="/comptes">Annuler</a> 
                                <button type="submit" class="btn btn-success update-pro">Confirmer</button>
                                 
                                </div>
                               </div>	
	        </br>
	        </br>
	      </form>
							</div>
							<!-- END RECENT PURCHASES -->
						</div>
						
					</div>
				
					</div>
					
					
				</div>
				
			</div>
			<!-- END MAIN CONTENT -->
			
			
			<div class="clearfix"></div>
			<footer>
				<div class="container-fluid">
					<p class="copyright">@Copyright <i class="fa fa-love"></i><a href=""></a></p>
	
				</div>
			</footer>
			
			
		</div>
	</div>
	
	
	<!-- Modal -->
	<div class="modal fade" id="ajouterRole" tabindex="-1" role="dialog" aria-labelledby="AjouterRole" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="AjouterRole">Ajouter un Rôle</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <form action="#" th:action="@{/roles/save}" th:object="${role}" method="post" role= "form">
			
	      <div class="modal-body">
	      
	        <div class="form-group row">
			    <label for="designation" class="col-sm-2 col-form-label">Désignation</label>
			    <div class="col-sm-10">
			      <input 
			      	type="text" 
			      	class="form-control" 
			      	id="designation" 
			      	placeholder="Désignation" 
			      	th:field="*{designation}"
			      	required>
			    </div>
			  </div>
			   <div class="row">
			      <label class="col-form-label col-sm-2 pt-0">Ajouter</label>
			      <div class="col-sm-10">
			        <div class="form-check">
			          <input 
			          	class="form-check-input"
			          	type="radio"
			          	name="addgridRadios"
			          	id="add1"
			          	value="1"
			          	th:field="*{ajouter}"
			          	checked>
			          <label class="form-check-label" for="add1">OUI</label>
	    	    	</div>
  		      		<div class="form-check">
			          <input class="form-check-input" type="radio" name="addgridRadios" id="add2" value="0" th:field="*{ajouter}">
			          <label class="form-check-label" for="add2">Non</label>
			        </div>
	    	 	</div>
		    </div>
			
			<div class="row">
		      <label class="col-form-label col-sm-2 pt-0">Supprimer</label>
		      <div class="col-sm-10">
		        <div class="form-check">
		          <input class="form-check-input" th:field="*{supprimer}" type="radio" name="suppgridRadios" id="supp1" value="1" checked>
		          <label class="form-check-label" for="supp1">OUI</label>
		        </div>
		        <div class="form-check">
			          <input class="form-check-input" th:field="*{supprimer}" type="radio" name="suppgridRadios" id="supp2" value="0">
			          <label class="form-check-label" for="supp2">Non</label>
		        </div>
		      </div>
			</div>
			
			
	      <div class="row">
			      <label class="col-form-label col-sm-2 pt-0">Modifier</label>
			      <div class="col-sm-10">
			        <div class="form-check">
			          <input class="form-check-input" th:field="*{modifier}" type="radio" name="modgridRadios" id="mod1" value="1" checked>
			          <label class="form-check-label" for="mod1">OUI</label>
			        </div>
			        <div class="form-check">
			          <input class="form-check-input" type="radio" th:field="*{modifier}" name="modgridRadios" id="mod2" value="0">
			          <label class="form-check-label" for="mod2">Non</label>
			        </div>
			      </div>
		    </div>
			    
			    <div class="row">
			      <label class="col-form-label col-sm-2 pt-0">Valider</label>
			      <div class="col-sm-10">
			        <div class="form-check">
			          <input class="form-check-input" type="radio" th:field="*{valider}" name="valgridRadios" id="val1" value="1" checked>
			          <label class="form-check-label" for="val1">OUI</label>
			        </div>
			        <div class="form-check">
			          <input class="form-check-input" type="radio" th:field="*{valider}" name="valgridRadios" id="val2" value="0">
			          <label class="form-check-label" for="val2">Non</label>
			        </div>
			      </div>
			    </div>
			    
			 <div class="form-group row">
			    <label for="nivsec" class="col-sm-2 col-form-label">Niveau de sécurité</label>
			    <div class="col-sm-10">
			      <select class="custom-select mr-sm-2" id="nivsec" th:field="*{niv_securite}" required>
			        <option value="0">0</option>
			        <option value="1">1</option>
			        <option value="2">2</option>
			        <option value="3">3</option>
			        <option value="4">4</option>
			      </select>
			    </div>
			  </div>
							
				
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
	        <button type="submit" class="btn btn-primary">Confirmer</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="../../assets/vendor/jquery/jquery.min.js"></script>
	<script src="../../assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="../../assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="../../assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="../../assets/vendor/chartist/js/chartist.min.js"></script>
	<script src="../../assets/scripts/klorofil-common.js"></script>
	
</body>

</html>
